<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
    <application android:label="Aliunde TTS Helper" android:theme="@android:style/Theme.Material.NoActionBar">
        <service
            android:name=".AliundeTtsService"
            android:exported="false" />
        <receiver
            android:name=".TtsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.aliunde.tts.SPEAK" />
                <action android:name="com.aliunde.tts.STOP" />
                <action android:name="com.aliunde.tts.CHOOSE_VOICE" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".VoiceChooserActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.NoActionBar" />
    </application>
</manifest>
